<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Code With Stein</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>

    <body>
        <nav class="navbar is-info">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>Code With Olga</strong></a>
                {% if not request.user.is_authenticated %}
                <a href="/signup" class="navbar-item"><strong>Sign Up</strong></a>
                <a href="/login" class="navbar-item"><strong>Sign In</strong></a>
                {% endif %}
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="navbar-item"><strong>Log out</strong></a>
                {% endif %}
            </div>
        </nav>

        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </body>
</html>